.portfolio__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: ritmo(2);
}
.portfolio__item {
  border-radius: 4px;
  border-bottom: 1px solid $grey;
  background: $white;
}
.portfolio__content {
  padding: 0 ritmo(1) ritmo(1)
}

.portfolio__illustration {
  max-width: 100%;
  border-radius: 4px 4px 0 0 ;
  transition: transform .125s;
  &:hover {
    transform: scale(.95);
  }
}

.portfolio__title {
  text-transform: capitalize;
  @include ritmo-font-size(18px);
}
.portfolio__sector {
  text-transform: uppercase;
  @include ritmo-font-size(12px);
  color: $black-50
}

@media screen and #{$media-medium} {
  .portfolio__items {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: ritmo(4);
  }
}
